# AWS Configuration
aws_region  = "us-east-1"
environment = "prod"

# Application
project_name  = "devops-demo"
app_version   = "v1.0"
app_image_tag = "latest"

# ECS
ecs_instance_type     = "t2.micro"
ecs_min_instances     = 2
ecs_max_instances     = 4
ecs_desired_instances = 2
app_desired_count     = 2

# RDS
db_name            = "devops_demo"
db_instance_class  = "db.t2.micro"

# DNS (Cloudflare)
cloudflare_api_token = ""  # Create at https://dash.cloudflare.com/profile/api-tokens (Zone:DNS:Edit)
domain_name          = "lathiya.com"
subdomain            = "demo"
